@font-face {
    font-family: custom;
    src: url(../fonts/yeezy_tstar-bold-webfont.ttf);
}

body {
    font-family: custom;
    font-size: 20px;
    line-height: 1.5;
    background: rgb(255, 26, 75);
    text-transform: uppercase;
    /* letter-spacing: 1px; */
}

.bar {
    background: rgb(182, 182, 182);
    box-shadow: 5px 5px 0px rgba(121, 62, 62, 0.482);
    padding-left: 4px;
    transition-property: color,box-shadow;
    transition-duration: .9s;
}

.bar-items {
    margin-right: 1px;
}

.bar:hover {
    color:rgb(255, 26, 75);
    box-shadow: 0px 0px 0px rgba(121, 62, 62, 0.482);
}

.i {
    color:rgb(255, 26, 75);
}

.game{
    background: rgb(171, 171, 171);
    padding: 10px 30px 20px 30px;
    box-shadow: 15px 15px 0px rgba(121, 62, 62, 0.4);
    font-size: 21px;
}



h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    

}

.game-content {
    position: relative;
    
}

.question{
    margin-left:6%;
    margin-right:5%;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-decoration: underline;
    word-spacing: 2px;
    /* border-bottom: 2px solid black; */
    /* width: 400px; */
}

ul{
    list-style-type: none;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:75px;
}

li {
    margin-left:5%;
    margin-right:5%;
    padding-left: 39%; 
    box-shadow: 0px 0px 0px rgba(114, 113, 113, 0.4);
    transition-property: box-shadow;
    transition-duration: .9s;

}

.choice {
    margin-left: 10px;
    transition-property: background;
    transition-duration: 1s;
}

li:hover {
    background: lightgray;
    box-shadow: 5px 5px 0px rgba(114, 113, 113, 0.4);
}

li:active{
    /* color: rgb(0, 174, 130); */
    color: rgb(255, 87, 112);
    /* background: rgb(0, 142, 106); */
    box-shadow: 5px 5px 0px rgba(114, 113, 113, 0.4);
}
li:focus{
    
    box-shadow: 5px 5px 0px rgba(114, 113, 113, 0.4);
    color: rgb(0, 174, 130);
}

.start {
    /* margin-left: 36.5%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn {
    background: lightgray;
    margin: 90px 110px 130px 110px;
    box-shadow: 5px 5px 0px rgba(114, 113, 113, 0.4);
    transition-property: box-shadow;
    transition-duration: .9s;
    
}

.restart-btn {
    background: lightgray;
    margin: 30px 10px 30px 10px;
    box-shadow: 5px 5px 0px rgba(114, 113, 113, 0.4);
    transition-property: box-shadow;
    transition-duration: .9s;

}

.start-btn:hover {
    background: white;
    /* color: rgb(52, 52, 52); */
    box-shadow: 0px 0px 0px rgba(114, 113, 113, 0.4);
}

.restart-btn:hover {
    background: white;
    /* color: rgb(114, 113, 113); */
   box-shadow: 0px 0px 0px rgba(114, 113, 113, 0.4);
}

.timer {
    position: absolute;
    right: -28px;
    bottom: -370px;
    padding: 7px 26px 7px 26px;
    /* border: 7px solid white; */
    font-size: 33px;
    background: rgb(171, 171, 171);
    box-shadow: 7px 7px 0px rgba(121, 62, 62, 0.4);
}

.time-left {
    margin-left: 10px;
}

.counts {
    margin-left: 1%;
}

.count {
    padding-left: 45%;
    /* display: flex;*/   
    /* align-items: center;*/
    /* justify-content: right;  */
}
